<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('../partials/_header.ejs')  %>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">Clean Blog</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="add_post">Add New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <% articles.forEach(data => { %>
        <div class="post-preview">
          <a href="/articles/<%= data.slug %>">
            <h2 class="post-title">
              <%= data.title %>
            </h2>
            <h3 class="post-subtitle">
              <%= data.detail %>
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">Start Bootstrap</a>
            <%= data.date %></p>
          </p>
          <a href="/deletepost/<%= data.slug %>" class="btn btn-primary">Delete</a>
        </div>
        <hr>
        <% }) %>

        <!-- Pager -->
        <div class="clearfix">
          <% for (let index = 1; index <= pages; index++) { %>
          <a class="btn btn-primary" href="/?page=<%= index %>"><%= index %></a>
          <% } %>
        </div> 
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('../partials/_footer.ejs')  %>


</body>

</html>