<!DOCTYPE html>
<html lang="en">

<!-- Head -->
<%- include('../partials/_header.ejs')  %> 

<body>

  <!-- Navigation -->
  <%- include('../partials/_nav.ejs')  %>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        <% articles.forEach(data => { %>
          <div class="post-preview">
            <a href="/articles/<%= data.slug %>">
              <h2 class="post-title">
                <%= data.title %> 
              </h2>
              <h3 class="post-subtitle">
                <%= data.detail %>
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">Start Bootstrap</a>
              <%= data.date %></p>
          </div>
          <hr>
        <% }) %>

        <!-- Pager -->
        <div class="clearfix">
          <% for (let index = 1; index <= pages; index++) { %>
          <a class="btn btn-primary" href="/?page=<%= index %>"><%= index %></a>
          <% } %>
        </div>      
      
      </div>
    </div>
  </div>

  <hr>

  <!-- Footer -->
  <%- include('../partials/_footer.ejs')  %>


</body>

</html>
